@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Account", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage", @class = "black-text waves-effect waves-indigo" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" class = "black-text waves-effect waves-indigo">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="bold">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" , @class = "black-text waves-effect waves-indigo" })</li>
        <li class="bold">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" , @class = "black-text waves-effect waves-indigo" })</li>
    </ul>
}
