@{
    ViewBag.Title = "About Mélodie Maker";
    ViewBag.Message = "\"Ear training at your fingertips!\"";
}
<div class="container">
    <div class="row">
        <h2>@ViewBag.Title</h2>
        <h3><i>@ViewBag.Message</i></h3>

        <p>Mélodie Maker is an online tool that helps you with your theory and ear training! 
        Created in 2015 by a handful of UWEC students, this page's goal is to help you 
        improve your musical skills and abilities!</p><br />
        <span style="text-decoration: underline;">Team Members:</span><br />John Stupka<br/>
        Jordan Stith<br />Dylan Howard<br />Kevin Breunig<br/>Barry Bakunowicz
    </div>
</div>
