@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="row">
        <h2>@ViewBag.Title</h2>
        <address>
            Haas Fine Arts Center 156 <br />
            University of Wisconsin-Eau Claire<br />
            Eau Claire WI 54702-4004<br />
            <abbr >Phone:</abbr>
            715-836-4954
        </address>

        <address>
            <br /><strong>Comments/Questions:</strong><a href="mailto:musicandtheatre@uwec.edu"> musicandtheatre@uwec.edu</a><br />
        </address>
    </div>
</div>
