@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col s12"><h1>Welcome to Mélodie Maker</h1></div>
        <div class="col s12">
         <blockquote>
            The Department Of Music at the University of Eau Claire would like to offer you the chance to train your ears and grow those musical skills you need to succeed. Use the login information provided by your professor to access the site and begin your first course.
         </blockquote>
        </div>
    </div>
</div>
    
  <div class="container">
    <div class="row">
        <div class="col s12 m8">
            <h4 class="light">Time to make some Mélodies...</h4>
            <div class="card large">
                <div class="card-image">
                    <img src="~/image/image4.jpg" />
                    <span class="card-title">Master Your Musical Skills</span>
                </div>
                <div class="card-content">
                    <p>Click below to start, please have login information ready.</p>
                </div>
                <div class="card-action">
                    @Html.ActionLink("Start First Course!", "Login", "Account")
                </div>
            </div>
        </div>
    </div>
  </div>